@{
    ViewBag.Title = "Invoice Page";
}

<div class="jumbotron">
    <h1>Fitbit Invoicer</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Invoice</h2>
        <p>Steps Taken:@ViewBag.StepsTaken</p>
        <p>Amount Invoice:@ViewBag.AmountInvoiced</p>
    </div>
</div>